@charset "utf-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,sub,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {	margin:0;	padding:0;	border:0;	outline:0;	font-weight:inherit;	font-style:inherit;	font-size:100%;	font-family:inherit; }/* remember to define focus styles! */:focus {	outline:0;}body {	color:black;	background:white;}ol,ul {	list-style: none;}/* tables still need 'cellspacing="0"' in the markup */table {	border-collapse:separate;	border-spacing:0;}caption,th,td {	text-align:left;	font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after {	content:"";}blockquote,q {	quotes: "" "";}a:link,a:visited {	text-decoration: none; border: 0px solid;}a:hover,a:active {	text-decoration: underline;}

@font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/MontserratBold.eot');
    src: url('../fonts/MontserratBold.eot') format('embedded-opentype'),
         url('../fonts/MontserratBold.woff2') format('woff2'),
         url('../fonts/MontserratBold.woff') format('woff'),
         url('../fonts/MontserratBold.ttf') format('truetype'),
         url('../fonts/MontserratBold.svg#MontserratBold') format('svg');
}

@font-face {
    font-family: 'MontserratMedium';
    src: url('../fonts/MontserratMedium.eot');
    src: url('../fonts/MontserratMedium.eot') format('embedded-opentype'),
         url('../fonts/MontserratMedium.woff2') format('woff2'),
         url('../fonts/MontserratMedium.woff') format('woff'),
         url('../fonts/MontserratMedium.ttf') format('truetype'),
         url('../fonts/MontserratMedium.svg#MontserratMedium') format('svg');
}
@font-face {
    font-family: 'MontserratRegular';
    src: url('../fonts/MontserratRegular.eot');
    src: url('../fonts/MontserratRegular.eot') format('embedded-opentype'),
         url('../fonts/MontserratRegular.woff2') format('woff2'),
         url('../fonts/MontserratRegular.woff') format('woff'),
         url('../fonts/MontserratRegular.ttf') format('truetype'),
         url('../fonts/MontserratRegular.svg#MontserratRegular') format('svg');
}
@font-face {
    font-family: 'MontserratSemiBold';
    src: url('../fonts/MontserratSemiBold.eot');
    src: url('../fonts/MontserratSemiBold.eot') format('embedded-opentype'),
         url('../fonts/MontserratSemiBold.woff2') format('woff2'),
         url('../fonts/MontserratSemiBold.woff') format('woff'),
         url('../fonts/MontserratSemiBold.ttf') format('truetype'),
         url('../fonts/MontserratSemiBold.svg#MontserratSemiBold') format('svg');
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?m5cfon');
  src:  url('../fonts/icomoon.eot?m5cfon#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?m5cfon') format('truetype'),
		url('../fonts/icomoon.woff?m5cfon') format('woff'),
		url('../fonts/icomoon.svg?m5cfon#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	color: #333;
    font-family: 'MontserratRegular';
	background: rgba(127,36,255,1);
	background: -moz-linear-gradient(left, rgba(127,36,255,1) 0%, rgba(255,172,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(127,36,255,1)), color-stop(100%, rgba(255,172,255,1)));
	background: -webkit-linear-gradient(left, rgba(127,36,255,1) 0%, rgba(255,172,255,1) 100%);
	background: -o-linear-gradient(left, rgba(127,36,255,1) 0%, rgba(255,172,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(127,36,255,1) 0%, rgba(255,172,255,1) 100%);
	background: linear-gradient(to right, rgba(127,36,255,1) 0%, rgba(255,172,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f24ff', endColorstr='#ffacff', GradientType=1 );
}

a {
	color: #2c9b4b;
	text-decoration: none;
}

.container {
    padding: 0;
    height: 100vh;
}

.splashscreen {
	height: 100vh;
	width: 100%;
	text-align: center;
	font-size: 46px;
	color: #2c9b4b;
	background: no-repeat center center url(../img/splash.jpg); 
	background-size: cover;
}

.contenidoApp {
    height: 100vh;
}

.ventana {
    height: 100vh;
    overflow: auto;
	background: no-repeat center center url(../img/fondo_0_a.jpg); 
	background-size: cover;
}

#pantalla0a, #pantalla0b {
	background-image: url(../img/fondo_0_a.jpg);
}

#pantalla1 {
	background-image: url(../img/fondo_0_b.jpg);
}

#pantalla2 {
	background-image: url(../img/fondo_0_c.jpg);
}

#pantalla3 {
	background-image: url(../img/fondo_0_b.jpg);
}

#pantalla4 {
	background-image: url(../img/fondo_0_e.jpg);
}

#pantalla5 {
	background-image: url(../img/fondoHome.jpg);
}

#pantalla6, #pantalla6a, #pantalla6b {
	background-image: url(../img/fndCele-80.jpg);
}

#pantalla7 {
	background-image: url(../img/fndCele-80.jpg);
}

#pantalla8 {
	background-image: url(../img/fndPods-80.jpg);
}

#pantalla8b {
	background-image: url(../img/fndPods2-80.jpg);
}

#pantalla9 {
	background: #fefff1;
}

#pantalla10 {
	background-image: url(../img/fndMEditacion-80.jpg);
}

#pantalla11 {
	background-image: url(../img/fndUser-80.jpg);
}

#pantalla12, #pantalla12b, #pantalla12c, #pantalla12d {
	background-image: url(../img/fndMBSR-80.jpg);
}

.titsec {
    text-align: center;
    padding: 80px 10px 0;
}

video.videomin {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
	height: auto;
	transform: translateX(-50%) translateY(-50%);
	max-height: -webkit-fill-available;
}

.listcursos {
    background: #FFF;
    padding: 15px;
}

.listcursos:after {
	content: ' ';
	clear: both;
	display: block;
}

.inputfant {
	border: 0!important;
	background: none!important;
	text-align: center;
	color: #FFF;
	box-shadow: none;
}

.inputfant::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFF;
  opacity: 1; /* Firefox */
}

.inputfant:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FFF;
}

.inputfant::-ms-input-placeholder { /* Microsoft Edge */
  color: #FFF;
}

.boxcupon {
    font-family: 'MontserratMedium';
    text-align: center;
    color: #FFF;
	padding: 60px 10px;
}

.volverint.linkdeboton {
    width: max-content!important;
}

.linkdeboton a {
	color: #FFF;
	text-decoration: none;
}

.listcursos .titCate {
    font-family: 'MontserratMedium';
    text-align: center;
    color: #FFF;
	box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
	padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 10px;
	background: #ccc;
}

.listcursos .descCate {
    font-family: 'MontserratMedium';
    text-align: center;
    font-size: 12px;
	color: #7740a2;
}

.listcursos .boxcatex {
    width: 48%;
    float: left;
}


.boxcatex {
    padding: 10px;
    font-size: 22px;
    text-align: center;
    border: 0;
    margin-top: 5px;
    color: #FFF;
}

.playbutton {
    position: absolute;
    top: 50%;
    left: 50%;
	width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
	color: #2c9b4b;
	background: no-repeat center center url(../img/btnPlay.png); 
	background-size: cover;
}

.btnPlayMed {
	position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    color: #ffffff;
    background: no-repeat center center url(../img/fondoaudio.png);
    background-size: cover;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
	padding: 30px;
	box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
}

.circmed {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    transform: rotate(180deg);
}

.circsma {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: rotate(180deg);
}

.circle {
    width: 120px;
    height: 120px;
    margin: 6px 6px 20px;
    display: inline-block;
    position: absolute;
    text-align: center;
    line-height: 1.2;
    left: 50%;
    margin-left: -60px;
	top: 50%;
	margin-top: -60px;
    pointer-events: none;
}

.btnPlayMed.viole, .circmed.viole, .circsma.viole {
	background: rgba(127,36,255,1);
	background: -moz-linear-gradient(left, rgba(127,36,255,1) 0%, rgba(255,172,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(127,36,255,1)), color-stop(100%, rgba(255,172,255,1)));
	background: -webkit-linear-gradient(left, rgba(127,36,255,1) 0%, rgba(255,172,255,1) 100%);
	background: -o-linear-gradient(left, rgba(127,36,255,1) 0%, rgba(255,172,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(127,36,255,1) 0%, rgba(255,172,255,1) 100%);
	background: linear-gradient(to right, rgba(127,36,255,1) 0%, rgba(255,172,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f24ff', endColorstr='#ffacff', GradientType=1 );
}

.btnPlayMed.azul, .circmed.azul, .circsma.azul {
    background: rgba(39,35,102,1);
    background: -moz-linear-gradient(left, rgba(39,35,102,1) 0%, rgba(63,81,212,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(39,35,102,1)), color-stop(100%, rgba(63,81,212,1)));
    background: -webkit-linear-gradient(left, rgba(39,35,102,1) 0%, rgba(63,81,212,1) 100%);
    background: -o-linear-gradient(left, rgba(39,35,102,1) 0%, rgba(63,81,212,1) 100%);
    background: -ms-linear-gradient(left, rgba(39,35,102,1) 0%, rgba(63,81,212,1) 100%);
    background: linear-gradient(to right, rgba(39,35,102,1) 0%, rgba(63,81,212,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272366', endColorstr='#3f51d4', GradientType=1 );
}

.btnPlayMed.cele, .circmed.cele, .circsma.cele {
	background: rgba(128,151,252,1);
	background: -moz-linear-gradient(left, rgba(128,151,252,1) 0%, rgba(27,251,199,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(128,151,252,1)), color-stop(100%, rgba(27,251,199,1)));
	background: -webkit-linear-gradient(left, rgba(128,151,252,1) 0%, rgba(27,251,199,1) 100%);
	background: -o-linear-gradient(left, rgba(128,151,252,1) 0%, rgba(27,251,199,1) 100%);
	background: -ms-linear-gradient(left, rgba(128,151,252,1) 0%, rgba(27,251,199,1) 100%);
	background: linear-gradient(to right, rgba(128,151,252,1) 0%, rgba(27,251,199,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8097fc', endColorstr='#1bfbc7', GradientType=1 );
}

.btnPlayMed.rosa, .circmed.rosa, .circsma.rosa {
    background: rgba(255,142,108,1);
	background: -moz-linear-gradient(left, rgba(255,142,108,1) 0%, rgba(255,45,138,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,142,108,1)), color-stop(100%, rgba(255,45,138,1)));
	background: -webkit-linear-gradient(left, rgba(255,142,108,1) 0%, rgba(255,45,138,1) 100%);
	background: -o-linear-gradient(left, rgba(255,142,108,1) 0%, rgba(255,45,138,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,142,108,1) 0%, rgba(255,45,138,1) 100%);
	background: linear-gradient(to right, rgba(255,142,108,1) 0%, rgba(255,45,138,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8e6c', endColorstr='#ff2d8a', GradientType=1 );
}

.btnPlayMed.vercel, .circmed.vercel, .circsma.vercel {
	background: rgba(22,202,130,1);
	background: -moz-linear-gradient(left, rgba(22,202,130,1) 0%, rgba(23,128,203,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(22,202,130,1)), color-stop(100%, rgba(23,128,203,1)));
	background: -webkit-linear-gradient(left, rgba(22,202,130,1) 0%, rgba(23,128,203,1) 100%);
	background: -o-linear-gradient(left, rgba(22,202,130,1) 0%, rgba(23,128,203,1) 100%);
	background: -ms-linear-gradient(left, rgba(22,202,130,1) 0%, rgba(23,128,203,1) 100%);
	background: linear-gradient(to right, rgba(22,202,130,1) 0%, rgba(23,128,203,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16ca82', endColorstr='#1780cb', GradientType=1 );
}

.btnPlayMed i.glyphicon {
    top: 3px;
    left: 2px;
}

.sinbor input.form-control {
	border: 1px solid #7740a2;
    border-radius: 15px;
    border-right: 0;
}

.sinbor button.btn.btn-default {
    border: 1px solid #7740a2;
    border-radius: 0 15px 15px 0;
    border-left: 0;
    color: #7740a2;
}

.saltarVid {
    position: absolute;
    bottom: 15px;
    left: 50%;
    font-size: 20px;
	width: 100px!important;
    margin-left: -50px!important;
}

.saltarVid2 {
    position: absolute;
    bottom: 15px;
    left: 50%;
    font-size: 20px;
	width: auto!important;
    margin-left: -50px!important;
}

.volverint {
    font-size: 20px;
	width: 100px!important;
    margin: 10px auto!important;
}

.contenidoGen {
	padding: 15px;
	padding-bottom: 110px;
	height: fit-content;
    min-height: -webkit-fill-available;
}

.contenidoGen.conpub {
	padding: 15px;
	padding-bottom: 150px;
}

.contbton {
    position: relative;
    height: 120px;
}

#med_ini {
	margin: 20px auto;
	width: 80%;
	display: block;
}

.saltar {
    font-size: 20px;
	width: 100px;
	margin: auto;
}

.iniciarmedini {
    font-size: 20px;
    width: fit-content;
    margin: auto;
    color: #0f0f0f!important;
    background: #FFF!important;
}

.btnSaltarMedIn {
    font-size: 20px;
	width: 100px;
	margin: auto;
	
}

.toabajo {
    position: absolute;
    width: 100%;
    bottom: 80px;
    left: 0;
}

.btnSinborde.violeta, a.btnSinborde.violeta {
    color: #7740a2;
    border: 1px solid #7740a2;
}

.tiotge {
    font-family: 'MontserratMedium';
    color: #FFF;
	font-size: 22px;
	margin-bottom: 55px;
}

.curItemComp {
    width: 40px;
    height: 40px;
    text-align: center;
    font-family: 'MontserratMedium';
    color: rgba(231,98,57,1);
    display: inline-block;
	margin: 5px 10px;
}

.contClasesmedini {
    width: 320px;
    margin: 0 auto;
}

.listclases {
    width: 320px;
    margin: 0 auto;
}

.circItemA {
    background: rgba(231,98,57,1);
    background: -moz-linear-gradient(left, rgba(231,98,57,1) 0%, rgba(255,222,103,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(231,98,57,1)), color-stop(100%, rgba(255,222,103,1)));
    background: -webkit-linear-gradient(left, rgba(231,98,57,1) 0%, rgba(255,222,103,1) 100%);
    background: -o-linear-gradient(left, rgba(231,98,57,1) 0%, rgba(255,222,103,1) 100%);
    background: -ms-linear-gradient(left, rgba(231,98,57,1) 0%, rgba(255,222,103,1) 100%);
    background: linear-gradient(to right, rgba(231,98,57,1) 0%, rgba(255,222,103,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e76239', endColorstr='#ffde67', GradientType=1 );
    width: 40px;
    height: 40px;
    border-radius: 50%;
	padding: 5px;
}

.circItemB {
    background: rgba(231,98,57,1);
    background: -moz-linear-gradient(left, rgba(231,98,57,1) 0%, rgba(255,222,103,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(231,98,57,1)), color-stop(100%, rgba(255,222,103,1)));
    background: -webkit-linear-gradient(left, rgba(231,98,57,1) 0%, rgba(255,222,103,1) 100%);
    background: -o-linear-gradient(left, rgba(231,98,57,1) 0%, rgba(255,222,103,1) 100%);
    background: -ms-linear-gradient(left, rgba(231,98,57,1) 0%, rgba(255,222,103,1) 100%);
    background: linear-gradient(to right, rgba(231,98,57,1) 0%, rgba(255,222,103,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e76239', endColorstr='#ffde67', GradientType=1 );
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: rotate(180deg);
}



.circItemA.violet {
	background: rgba(127,36,255,1);
    background: -moz-linear-gradient(left, rgba(127,36,255,1) 0%, rgba(255,172,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(127,36,255,1)), color-stop(100%, rgba(255,172,255,1)));
    background: -webkit-linear-gradient(left, rgba(127,36,255,1) 0%, rgba(255,172,255,1) 100%);
    background: -o-linear-gradient(left, rgba(127,36,255,1) 0%, rgba(255,172,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(127,36,255,1) 0%, rgba(255,172,255,1) 100%);
    background: linear-gradient(to right, rgba(127,36,255,1) 0%, rgba(255,172,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f24ff', endColorstr='#ffacff', GradientType=1 );
    width: 40px;
    height: 40px;
    border-radius: 50%;
	padding: 5px;
}

.circItemB.violet {
	background: rgba(127,36,255,1);
    background: -moz-linear-gradient(left, rgba(127,36,255,1) 0%, rgba(255,172,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(127,36,255,1)), color-stop(100%, rgba(255,172,255,1)));
    background: -webkit-linear-gradient(left, rgba(127,36,255,1) 0%, rgba(255,172,255,1) 100%);
    background: -o-linear-gradient(left, rgba(127,36,255,1) 0%, rgba(255,172,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(127,36,255,1) 0%, rgba(255,172,255,1) 100%);
    background: linear-gradient(to right, rgba(127,36,255,1) 0%, rgba(255,172,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f24ff', endColorstr='#ffacff', GradientType=1 );
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: rotate(180deg);
}

.activo .circItemA.violet {
    background: transparent;
    border: 2px solid rgba(255,172,255,1);
}

.circItemB img {
    width: 60%;
    transform: rotate(180deg);
    margin: 20%;
}

.activo .circItemA {
	background: transparent;
	border: 2px solid rgba(231,98,57,1);
}

.activo .circItemB {
	display:none;
}

.boxprem {
    margin-bottom: 15px;
}

.bototneraBottom.conpub {
    padding-top: 0;
}

.ultimoCursosTit {
    font-family: 'MontserratBold';
    text-align: center;
    font-size: 14px;
    color: #ff2b8b;
    border-bottom: 1px solid #e76239;
    padding-bottom: 3px;
    margin-bottom: 5px;
}

.titLibreria {
    font-family: 'MontserratBold';
    text-align: center;
    font-size: 24px;
    color: #7740a2;
    padding: 15px 0;
    margin-bottom: 5px;
}

.ultimoCursosTit span{
    font-family: 'MontserratRegular';
}

.ultimoCursosSubTit {
    color: #e86b43;
    font-family: 'MontserratRegular';
    text-align: center;
    font-size: 11px;
    padding-bottom: 10px;
}

#med_ini, #audClaseP, #audEsfera, #audTim, #audMedDiaria {
	opacity:0;
}

.titSeccion {
    text-align: center;
    color: #FFF;
    font-size: 26px;
    font-family: 'MontserratBold';
    margin: 80px auto 30px;
}

.tituloCurso {
    width: 160px;
    margin: 0 auto;
    text-align: center;
    background: #FFF;
    color: #FFF;
    padding: 5px;
    border-radius: 15px;
    font-size: 18px;
    font-family: 'MontserratSemiBold';
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	z-index: 89;
	    background: #ccc;
    position: relative;
}

#pantalla12c .listetapas {
    height: 65vh;
}

.listetapas {
	overflow-x: auto;
    z-index: 90;
	margin: -30px -15px 0;
    padding: 0 0 30px;
}

#pantalla14 .activo .circItemA {
    background: transparent!important;
    border: 2px solid #FFF;
}

.contesli {
    width: max-content;
}

.contesli::after {
    content: ' ';
    display: block;
    clear: both;
}

.owl-item {
    float: left;
}

.owl-nav.disabled {
    display: none;
}

.contesli2 {
    width: 100%;
}

.listetapas .contesli2 .boxcate {
    margin: 10px auto;
    display: block;
    background: transparent;
    border: 1px solid #FFF;
}

.contesli2 .circItemB {
    background: #FFF;
}

.contesli2 .circItemA {
    background: #FFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
}

.contesli2 .activo .circItemA {
    background: transparent;
    border: 2px solid #FFF;
}

.numIteCu {
    color: #FFF;
}

.titEtapa {
    font-size: 16px;
    border-bottom: 1px solid #FFF;
    margin-bottom: 15px;
    padding: 5px;
}

.listetapas .boxcate {
    border-radius: 15px;
    padding: 15px;
    padding-top: 35px;
    margin: 0 5vw;
	width: 90vw;
    display: inline-block;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    float: left;
}

.descur {
    font-family: 'MontserratRegular';
    font-size: 12px;
}

.titSeccionSub {
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-family: 'MontserratSemiBold';
    margin: 40px auto 30px;
	width: 80%;
    border-bottom: 1px solid #FFF;
    padding-bottom: 5px;
}

.titSeccionSubT {
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-family: 'MontserratSemiBold';
    margin: 10px auto 10px;
	width: 80%;
}

.btnGenerico.btnViole {
	background: rgba(255,172,255,1);
	background: -moz-linear-gradient(left, rgba(255,172,255,1) 0%, rgba(127,36,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,172,255,1)), color-stop(100%, rgba(127,36,255,1)));
	background: -webkit-linear-gradient(left, rgba(255,172,255,1) 0%, rgba(127,36,255,1) 100%);
	background: -o-linear-gradient(left, rgba(255,172,255,1) 0%, rgba(127,36,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,172,255,1) 0%, rgba(127,36,255,1) 100%);
	background: linear-gradient(to right, rgba(255,172,255,1) 0%, rgba(127,36,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffacff', endColorstr='#7f24ff', GradientType=1 );
	color: #FFF;
	outline: none!important;
	border: 0;
	border-radius: 20px;
    font-family: 'MontserratBold';
    padding: 10px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(98,29,194,1);
	-moz-box-shadow: 5px 5px 10px 0px rgba(98,29,194,1);
	box-shadow: 5px 5px 10px 0px rgba(98,29,194,1);
}

.btnGenerico.btnCele {
	background: rgba(128,151,252,1);
	background: -moz-linear-gradient(left, rgba(128,151,252,1) 0%, rgba(27,251,199,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(128,151,252,1)), color-stop(100%, rgba(27,251,199,1)));
	background: -webkit-linear-gradient(left, rgba(128,151,252,1) 0%, rgba(27,251,199,1) 100%);
	background: -o-linear-gradient(left, rgba(128,151,252,1) 0%, rgba(27,251,199,1) 100%);
	background: -ms-linear-gradient(left, rgba(128,151,252,1) 0%, rgba(27,251,199,1) 100%);
	background: linear-gradient(to right, rgba(128,151,252,1) 0%, rgba(27,251,199,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8097fc', endColorstr='#1bfbc7', GradientType=1 );
	color: #FFF;
	outline: none!important;
	border: 0;
	border-radius: 20px;
    font-family: 'MontserratBold';
    padding: 10px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
}

#facebooklogin {
	background: #3b5998;
	color: #FFF;
	border: 0;
	border-radius: 20px;
    font-family: 'MontserratBold';
    padding: 10px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(98,29,194,1);
	-moz-box-shadow: 5px 5px 10px 0px rgba(98,29,194,1);
	box-shadow: 5px 5px 10px 0px rgba(98,29,194,1);
}

#googlelogin {
	background: #FFF;
	color: #3b5998;
	border: 0;
	border-radius: 20px;
    font-family: 'MontserratBold';
    padding: 10px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(98,29,194,1);
	-moz-box-shadow: 5px 5px 10px 0px rgba(98,29,194,1);
	box-shadow: 5px 5px 10px 0px rgba(98,29,194,1);
}

.contBotones {
    width: 220px;
    margin: 0 auto;
    text-align: center;
    padding: 150px 0;
}

.tituCurAct {
  background: #fdfae7;
  padding: 10px;
  border-radius: 18px;
}

.boxCursoAct {
  max-width: 100%;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, #ff2b8b, #ffc752);
  padding: 3px;
  border-radius: 20px;
}

.btnGenerico {
	background: #FFF;
	color: #2c9b4b;
	text-align: center;
	border: 2px solid #2c9b4b;
	width: 100%;
	border-radius: 4px;
}

.tituCurAct .numIteCu {
    color: #e86b43;
}

.martop60 {
	margin-top: 60px!important;
}

.btnSinborde, a.btnSinborde {
    font-family: 'MontserratMedium';
    color: #FFF;
	font-size: 11px;
	border: 1px solid #FFF;
	border-radius: 15px;
	padding: 5px 15px;
	display: block;
	margin: 0 auto;
	text-align: center;
    clear: both;
	letter-spacing: .8pt;
}

.boxForm {
    padding: 60px 15px;
    text-align: center;
}

.links {
    padding: 10px;
    font-size: 12px;
}

div#alerta {
    position: absolute;
    z-index: 999999;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
	display: table!important;
}

div#alerta.hidden {
	display: none!important;
}

.erorCont {
    display: table-cell;
    vertical-align: middle;
}

.alertatxt {
	margin-bottom: 15px;
}

.erorMsj {
    width: 80%;
    margin: 0 auto;
    background: #FFF;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.nombreuser {
    font-family: 'MontserratMedium';
    padding: 15px;
    font-size: 40px;
    margin-top: 110px;
    color: #FFF;
    text-align: center;
}

div#msjconf {
    width: fit-content;
    padding: 5px 10px;
    background: rgba(0,0,0,0.4);
    border-radius: 6px;
    color: #FFF;
    font-family: 'MontserratRegular';
    font-size: 12px;
    margin: 0 auto;
    opacity: 0;
}

.bienvenido {
    font-family: 'MontserratMedium';
    padding: 15px;
    font-size: 40px;
    margin-top: 160px;
    color: #ff2b8b;
    text-align: center;
}

.cuetionario {
    padding: 15px 15px;
    text-align: center;
}

.pregunta {
    font-family: 'MontserratSemiBold';
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto 35px;
    color: #FFF;
}

.respuesta {
    border: 1px solid #2c9b4b;
    padding: 3px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.paso {
    font-family: 'MontserratMedium';
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
    color: #FFF;
}


.bloquehor {
    font-size: 34px;
    text-align: center;
    display: block;
    height: 100%;
    max-height: 140px;
    position: relative;
    top: 0;
    color: #FFF;
    float: left;
}

.internum {
    padding: 48px 5px;
}

.contConfNot {
    position: relative;
    height: 0;
    overflow: hidden;
    text-align: center;
    margin: 20px auto;
    width: max-content;
}

.contConfNot.activo {
    height: 190px;
}

.interna .btnGenerico {
    margin: 10px auto 0;
    padding: 7px;
}

.home .btnGenerico {
    height: 60px;
    margin: 10px auto 0;
    padding: 7px;
}

.btn50 {
    width: 46%;
    float: left;
    margin: 10px 2%!important;
}

.bototneraBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 10px;
    color: #FFF;
}

.btotonbotom {
    display: inline-block;
    width: 18%;
    text-align: center;
    font-family: 'MontserratBold';
    font-size: 12px;
    opacity: .5;
}

.btotonbotom.activo {
    opacity: 1;
}

.btotonbotom {
    font-size: 12px;
}

.btotonbotom i {
    font-size: 14px;
    display: block;
	line-height: 22px;
}

.fz22 {
    font-size: 22px!important;
}

.icon-iconHome:before {
  content: "\e900";
}
.icon-iconLibreria:before {
  content: "\e901";
}
.icon-iconMBSR:before {
  content: "\e902";
}
.icon-iconPodcast:before {
  content: "\e903";
}
.icon-iconUSer:before {
  content: "\e904";
}

.botoneraHome {
	color: #ff2b8b;
	background: #fefae7;
}

.botoneraLib {
	color: #7740a2;
	background: #FFF;
}

.botronesHoem .sub {
    font-family: 'MontserratRegular';
    border-top: 1px solid #FFF;
    width: fit-content;
    margin: 0 auto;
}

.botronesHoem {
	background: rgba(245,198,59,1);
	background: -moz-linear-gradient(left, rgba(245,198,59,1) 0%, rgba(255,43,138,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245,198,59,1)), color-stop(100%, rgba(255,43,138,1)));
	background: -webkit-linear-gradient(left, rgba(245,198,59,1) 0%, rgba(255,43,138,1) 100%);
	background: -o-linear-gradient(left, rgba(245,198,59,1) 0%, rgba(255,43,138,1) 100%);
	background: -ms-linear-gradient(left, rgba(245,198,59,1) 0%, rgba(255,43,138,1) 100%);
	background: linear-gradient(to right, rgba(245,198,59,1) 0%, rgba(255,43,138,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5c63b', endColorstr='#ff2b8a', GradientType=1 );
	color: #FFF;
    font-family: 'MontserratSemiBold';
    padding: 15px;
    text-align: center;
    margin: 10px auto;
    border-radius: 50px;
}

.ultimopodcast {
    font-family: 'MontserratSemiBold';
    color: #FFF;
    padding: 15px;
    font-size: 15px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    background: rgba(255,142,108,1);
	background: -moz-linear-gradient(left, rgba(255,142,108,1) 0%, rgba(255,45,138,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,142,108,1)), color-stop(100%, rgba(255,45,138,1)));
	background: -webkit-linear-gradient(left, rgba(255,142,108,1) 0%, rgba(255,45,138,1) 100%);
	background: -o-linear-gradient(left, rgba(255,142,108,1) 0%, rgba(255,45,138,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,142,108,1) 0%, rgba(255,45,138,1) 100%);
	background: linear-gradient(to right, rgba(255,142,108,1) 0%, rgba(255,45,138,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8e6c', endColorstr='#ff2d8a', GradientType=1 );
}

.btnNaranja {
    font-family: 'MontserratSemiBold';
    color: #FFF;
    padding: 15px;
    font-size: 18px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    background: rgba(254, 195, 69,1);
	background: -moz-linear-gradient(left, rgba(254, 195, 69,1) 0%, rgba(255,45,138,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254, 195, 69,1)), color-stop(100%, rgba(255,45,138,1)));
	background: -webkit-linear-gradient(left, rgba(254, 195, 69,1) 0%, rgba(255,45,138,1) 100%);
	background: -o-linear-gradient(left, rgba(254, 195, 69,1) 0%, rgba(255,45,138,1) 100%);
	background: -ms-linear-gradient(left, rgba(254, 195, 69,1) 0%, rgba(255,45,138,1) 100%);
	background: linear-gradient(to right, rgba(254, 195, 69,1) 0%, rgba(255,45,138,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8e6c', endColorstr='#ff2d8a', GradientType=1 );
}

.btnNaranja.verSmall {
    padding: 5px 30px;
    font-size: 12px;
    width: fit-content;
    margin: 0 auto;
    letter-spacing: 2px;
}

.todospods {
    padding: 35px 0;
}


.boxprem img {
    width: 100%;
}

.tituloHome {
    color: #ff2b8b;
    text-align: center;
    font-family: 'MontserratMedium';
    font-size: 24px;
    margin: 20px auto;
}

.tituloCat {
    color: #FFF;
    text-align: center;
    font-family: 'MontserratMedium';
    font-size: 24px;
    margin: 20px auto;
}

.descripcionCat {
    color: #FFF;
    text-align: center;
    font-family: 'MontserratMedium';
    font-size: 14px;
    margin: 20px auto;
}

.descripcionClase {
    color: #FFF;
    text-align: center;
    font-family: 'MontserratMedium';
    font-size: 14px;
    margin: 20px auto;
}

.tituloClase, .tituloClase2 {
    color: #FFF;
    text-align: center;
    font-family: 'MontserratMedium';
    font-size: 24px;
    margin: 20px auto;
}

.boxcast {
    font-size: 13px;
    border-radius: 15px;
    padding: 15px;
    font-family: 'MontserratSemiBold';
    color: #FFF;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2)
}

.todospods .boxcast {
    font-size: 16px;
    padding: 15px;
    background: rgba(255,221,165,0.2);
    color: #FFF;
    text-align: center;
    font-family: 'MontserratMedium';
    border: 0;
    border-radius: 20px;
}

.categoriascur {
/*
    height: 73vh;
*/
    padding: 5px;
    margin: 10px auto;
    border-radius: 5px;
}

.boxcate {
    padding: 10px;
    font-size: 22px;
    text-align: center;
    border: 0;
    margin-top: 5px;
    color: #FFF;
    border-radius: 25px;
    background: #7740a2;
}

.titEsta {
    font-size: 22px;
    color: #fb2d88;
    margin-bottom: 15px;
    border-bottom: 2px solid #ff995b;
}

.numgig {
    font-size: 22px;
}

.boxEstadisticasCont {
	padding: 10px;
    font-size: 14px;
    text-align: center;
    margin: 25px auto;
    width: 275px;
    background: #fefff1;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    color: #fb2d88;
}

.btnGenerico.btnConfirmar1, .btnGenerico.btnConfirmar2 {
    display: block;
    clear: both;
}

.circuloN .rs-range-color  {
    background-color: transparent;
}
.rs-bg-color {
    background-color: transparent;
}
.circuloN .rs-path-color  {
    background-color: transparent;
    border: 0;
}
.circuloN .rs-handle  {
    background-color: #FFF;
    padding: 0;
    border: 0;
    pointer-events: all;
}
.circuloN .rs-handle:after  {
    border-color: #FFF;
    background-color: transparent;
}
.circuloN .rs-border  {
    border: 0;
}

div#med_ini_control {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    left: 50%;
    margin-left: -60px;
	pointer-events: none;
}

div#audEsfera_control {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    left: 50%;
    margin-left: -60px;
	pointer-events: none;
}

div#audTim_control {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    left: 50%;
    margin-left: -60px;
	pointer-events: none;
}

div#audPod_control {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    left: 50%;
    margin-left: -60px;
	pointer-events: none;
}

div#audClaseP_control {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    left: 50%;
    margin-left: -60px;
	pointer-events: none;
}

div#uad_MBSR_control {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    left: 50%;
    margin-left: -60px;
	pointer-events: none;
}

div#audMedDiaria_control {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    left: 50%;
    margin-left: -60px;
	pointer-events: none;
}

span.rs-tooltip.rs-tooltip-text.edit {
    display: none;
}

.circuloN .rs-block.rs-outer.rs-border.rs-split {
    border: 1px dotted #FFF;
}

.mensajeapp {
    color: #FFF;
}

.trespuntos {
    text-align: center;
}

.puntob.activo {
	background: #FFF;
}

.puntob {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 5px;
    border: 1px solid #FFF;
    border-radius: 50px;
}

.checkB {
    font-family: 'MontserratRegular';
    color: #FFF;
    text-align: center;
}


.checkB label {
	cursor: pointer;
	display: inline-block;
	position: relative;
	padding-left: 25px; /* 10 px padding right + 15px input type*/
	margin-right: 10px; /* margin between inputs types */
}
	
.checkB label:before {  
	content: "";
	width: 30px;
	height: 30px;
	position: absolute;  
	left: 0;
}
	
.checkB input[type=checkbox] {  
	display: none;  
}
	
.checkB label:before {
	background: url('../img/checkbox-tilde.png') center center no-repeat;
	background-size: cover;
    margin-top: 2px;
}
	
.checkB input[type=checkbox]:checked + label:before {  
	background: url('../img/checkbox.png') center center no-repeat;  
	background-size: cover;
} 
	

.boxcuponre {
    font-family: 'MontserratMedium';
    text-align: center;
    color: #FFF;
    padding: 0 10px;
	height: 120px;
    position: relative;
    width: 100%;
}

.text_mb_1, .text_mb_2 {
    width: 100%;
    position: absolute;
    height: 120px;
    top: 0;
    left: 0;
}

#codigombsr {
    border: 1px solid #FFF!important;
    border-radius: 20px;
    margin-bottom: 40px;
}

.blopas {
	position: relative;
}

i.glyphicon.glyphicon-eye-open {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #8227ff;
}

button.close {
    opacity: 1;
    margin-top: -20px;
    margin-right: -15px;
    font-size: 32px;
}

.subtituconfig {
    text-align: center;
    color: #FFF;
    font-size: 12px;
    width: 70%;
    margin: 0 auto 15px;
}

.circ_resp {
    width: 120px;
    height: 120px;
    margin: 6px 6px 20px;
    display: inline-block;
    position: absolute;
    text-align: center;
    line-height: 1.2;
    left: 50%;
    margin-left: -60px;
    top: 50%;
    margin-top: -60px;
    pointer-events: none;
    border: 2px solid #FFF;
    border-radius: 50%;
    opacity: 0;
}

.circ_resp_1 {
	animation-delay: .1s;
    -webkit-animation: fadein_1 2s ease-in  alternate-reverse infinite;
    -moz-animation: fadein_1 2s ease-in  alternate-reverse infinite;
    animation: fadein_1 2s ease-in  alternate-reverse infinite;
}

.circ_resp_2 {
	animation-delay: .2s;
    -webkit-animation: fadein_2 2s ease-in  alternate-reverse infinite;
    -moz-animation: fadein_2 2s ease-in  alternate-reverse infinite;
    animation: fadein_2 2s ease-in  alternate-reverse infinite;
}

.circ_resp_3 {
	animation-delay: .3s;
    -webkit-animation: fadein_3 2s ease-in  alternate-reverse infinite;
    -moz-animation: fadein_3 2s ease-in  alternate-reverse infinite;
    animation: fadein_3 2s ease-in  alternate-reverse infinite;
}

.circ_resp_4 {
	animation-delay: .4s;
    -webkit-animation: fadein_4 2s ease-in  alternate-reverse infinite;
    -moz-animation: fadein_4 2s ease-in  alternate-reverse infinite;
    animation: fadein_4 2s ease-in  alternate-reverse infinite;
}

.circ_resp_5 {
	animation-delay: .5s;
    -webkit-animation: fadein_5 2s ease-in  alternate-reverse infinite;
    -moz-animation: fadein_5 2s ease-in  alternate-reverse infinite;
    animation: fadein_5 2s ease-in  alternate-reverse infinite;
}

.circ_resp_6 {
	animation-delay: .6s;
    -webkit-animation: fadein_6 2s ease-in  alternate-reverse infinite;
    -moz-animation: fadein_6 2s ease-in  alternate-reverse infinite;
    animation: fadein_6 2s ease-in  alternate-reverse infinite;
}

@keyframes fadein_1 { from { opacity: 0; transform: scale(1, 1);} to { opacity: 1;transform: scale(1.6, 1.6); }}
@keyframes fadein_2 { from { opacity: 0; transform: scale(1, 1);} to { opacity: .8;transform: scale(1.5, 1.5); }}
@keyframes fadein_3 { from { opacity: 0; transform: scale(1, 1);} to { opacity: .6;transform: scale(1.4, 1.4); }}
@keyframes fadein_4 { from { opacity: 0; transform: scale(1, 1);} to { opacity: .4;transform: scale(1.3, 1.3); }}
@keyframes fadein_5 { from { opacity: 0; transform: scale(1, 1);} to { opacity: .2;transform: scale(1.2, 1.2); }}
@keyframes fadein_6 { from { opacity: 0; transform: scale(1, 1);} to { opacity: .1;transform: scale(1.1, 1.1); }}



.mbsc-ios.mbsc-fr.mbsc-fr-inline .mbsc-sc-whl-o {
	background: transparent;
}

.mbsc-ios.mbsc-fr-inline .mbsc-fr-c {
	background: transparent;
    border-bottom: 0;
}

.mbsc-ios.mbsc-fr-inline .mbsc-fr-w {
	background: transparent;
	border: 0;
}

.mbsc-ios .mbsc-sc-itm-sel, .mbsc-ios .mbsc-sc-whl-gr-3d .mbsc-sc-itm {
    color: #FFF;
}

.selectorTiempo {
    width: 200px;
    margin: 15px auto;
	margin-top: 200px;
}

.ab_audClaseP {
    top: 140px;
    margin-top: 0;
}

div#audClaseP_control {
    top: 140px;
    margin-top: 0;
}

.btnPlayMed.ct_audClaseP {
    margin-top: 0;
    top: 150px;
}

.mbsc-sc-whl-l {
    border: 1px solid #FFF;
    width: 120px;
    margin-left: -60px!important;
    left: 50%;
    border-radius: 20px;
}

.btnDescargaFile {
    width: fit-content!important;
}

.marcloca {
    display: inline-block;
    width: 30px;
    height: 14px;
    background: #FFF;
    border-radius: 20px;
    margin-bottom: -3px;
    margin-left: 10px;
    position: relative;
}

.bolita {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    margin: 2px;
    left: 0;
    transition: .5s;
    position: absolute;
}

.bolita.bolitaOn {
    left: auto;
    right: 0;
}

.titiempo {
    text-align: center;
    color: #FFF;
    margin-bottom: -10px;
    padding-top: 25px;
    font-size: 12px;
    text-transform: uppercase;
}
